{% load i18n %}
{% autoescape off %}

{% blocktranslate with site_name=site_name %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

{% blocktranslate %}Please go to the following page and choose a new password:{% endblocktranslate %}
{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate with user_name=user.get_username %}Your username, in case you've forgotten, is: {{ user_name }}{% endblocktranslate %}

{% blocktranslate %}Thanks for using our site!{% endblocktranslate %}

{% blocktranslate with site_name=site_name %}The {{ site_name }} team.{% endblocktranslate %}

{% endautoescape %}
