{% extends "app/base.html" %}

{% block content %}
    <h1>View Registrations</h1>
    {% if registrations %}
        <ul>
            {% for registration in registrations %}
                <li>
                    <strong>{{ registration.event.title }}</strong> - {{ registration.event.date }}
                    <br>
                    Status: {{ registration.status }}
                    <br>
                    Registration Date: {{ registration.registration_date }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not registered for any events yet.</p>
    {% endif %}
{% endblock %}